<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout" lang="en">
    <head th:replace="fragments/header :: header">
    </head>
    <body>
        <header th:replace="fragments/navigation :: navigation"></header>
        <section id="main"><div layout:fragment="content"></div></section>
        <footer th:replace="fragments/footer :: footer"></footer>
        <script type="text/javascript" th:src="@{/js/main.js}"></script>
    </body>
</html>